@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Poppins:wght@100;300;500;700&display=swap';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  width: 100vw;
}

h1, h2, h3, h4, h5, p, a {
  margin: 0;
  font-family: 'Open Sans';
}

.container {
  padding: 0 80px;
}
