.nav-bar {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #FFF;
  background-color: $green;
  padding: 30px 0;
  box-shadow: 0px 3px 5px rgba(1, 1, 1, 0.1)
}

.nav-bar h2 {
  font-weight: 300;
  font-size: 25px;
}
